.txt {
  color: var(--text);
  font-weight: bold;
  font-family: "Cantarell";
  user-select: none;
}

.container {
  position: absolute;
  top: env(titlebar-area-height, var(--fallback-title-bar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: calc(100% - env(titlebar-area-height, var(--fallback-title-bar-height)));
}

.act-button {
	height: 6vmin;
	width: 6vmin;
	border: none;
	border-radius: 0.6vmin;
	color: var(--light-text-color);
	font-size: 2.75vmin;
	text-align: center;
	background-color: var(--default-button-color);
	transition: 0.2s;
	user-select: none;
	cursor: pointer;
}

.act-button:hover {
	background-color: var(--default-button-color-lighter);
	transition: 0.2s;
}

.act-button:active {
	background-color: var(--default-button-color-darker);
	transition: 0.2s;
}

.container>img {
  height: 128px;
  width: 128px;
  margin: 5% auto 5% auto;
}

.container>p {
  margin: 0% auto 0% auto;
  font-size: x-large;
}

.container>span {
  margin: 5%;
  color: var(--dark-text-color);
  font-size: smaller;
}

.container>span>a {
  text-decoration: none;
  color: var(--light-text-color)
}

.lang-container {
  display: flex;
  justify-content: center;
}

.lang-container>span {
  margin-right: 20px;
  font-size: medium;
}

.lang-container>select {
  width: 25%;
  height: 25px;
  margin-right: 20px;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  border: none;
  border-radius: 0.625vh;
  font-weight: bold;
  font-family: "Cantarell";
  color: var(--darker-text-color);
  background-color: var(--light-text-color);
  user-select: none;
}

.lang-container>select>option {
  height: 25px;
  font-weight: bold;
  font-family: "Cantarell";
  color: var(--darker-text-color);
  user-select: none;
}

.style-select {
  margin-right: 0px !important;
}

.reset-button {
	margin: auto 10px;
	height: 30px;
	width: 30px;
	color: var(--light-text-color);
	background-color: var(--background-color);
	font-size: small;
}

.reset-button:hover {
	background-color: var(--background-color-lighter);
	transition: 0.2s;
}

.reset-button:active {
	background-color: var(--background-color-darker);
	transition: 0.2s;
}

.clear-button {
  margin: auto 0% !important
}