@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "font/cantarell.css";

:root {
  --fallback-title-bar-height: 40px;
  background-color: black;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
}

* {
  box-sizing: border-box;
}

.txt {
  color: var(--text);
  font-weight: bold;
  font-family: "Cantarell";
  user-select: none;
}

.container {
  position: absolute;
  top: env(titlebar-area-height, var(--fallback-title-bar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: calc(100% - env(titlebar-area-height, var(--fallback-title-bar-height)));
}

.act-button {
	height: 6vmin;
	width: 6vmin;
	border: none;
	border-radius: 0.6vmin;
	color: var(--light-text-color);
	font-size: 2.75vmin;
	text-align: center;
	background-color: var(--default-button-color);
	transition: 0.2s;
	user-select: none;
	cursor: pointer;
}

.act-button:hover {
	background-color: var(--default-button-color-lighter);
	transition: 0.2s;
}

.act-button:active {
	background-color: var(--default-button-color-darker);
	transition: 0.2s;
}

.container>img {
  height: 128px;
  width: 128px;
  margin: 5% auto 5% auto;
}

.container>p {
  margin: 0% auto 0% auto;
  font-size: x-large;
}

.container>span {
  margin: 5%;
  color: var(--dark-text-color);
  font-size: smaller;
}

.container>span>a {
  text-decoration: none;
  color: var(--light-text-color)
}

.lang-container {
  display: flex;
  justify-content: center;
}

.lang-container>span {
  margin-right: 20px;
  font-size: medium;
}

.lang-container>select {
  width: 25%;
  height: 25px;
  margin-right: 20px;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  border: none;
  border-radius: 0.625vh;
  font-weight: bold;
  font-family: "Cantarell";
  color: var(--darker-text-color);
  background-color: var(--light-text-color);
  user-select: none;
}

.lang-container>select>option {
  height: 25px;
  font-weight: bold;
  font-family: "Cantarell";
  color: var(--darker-text-color);
  user-select: none;
}

.style-select {
  margin-right: 0px !important;
}

.draggable {
  -webkit-app-region: drag;
}

.non-draggable {
  -webkit-app-region: no-drag;
}

#titleBarContainer {
  position: absolute;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
  width: 100%;
  background-color: var(--header-color);
}

#titleBar {
  position: absolute;
  top: 0;
  display: flex;
  user-select: none;
  height: 100%;
  left: env(titlebar-area-x, 0);
  width: 100%;
  color: var(--header-text);
  font-weight: bold;
  text-align: center;
}

#titleBar .header {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	align-self: center;
	padding: 0px 16px 0px 16px;
	font-family: "Cantarell";
}

.reset-button {
	margin: auto 10px;
	height: 30px;
	width: 30px;
	color: var(--light-text-color);
	background-color: var(--background-color);
	font-size: small;
}

.reset-button:hover {
	background-color: var(--background-color-lighter);
	transition: 0.2s;
}

.reset-button:active {
	background-color: var(--background-color-darker);
	transition: 0.2s;
}

.clear-button {
  margin: auto 0% !important
}