@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "font/cantarell.css";
@import "font/akony.css";

:root {
	--fallback-title-bar-height: 40px;
  background-color: black;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	background: var(--background-color);
}

* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100%;
	padding-top: 40vmin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.waiting-label {
	padding-bottom: 7.5vmin;
	font-size: 4.25vmin;
	font-family: "AKONY Bold";
	color: var(--label-color);
	user-select: none;
}

.act-button {
	height: 6vmin;
	width: 6vmin;
	border: none;
	border-radius: 0.6vmin;
	color: var(--light-text-color);
	font-size: 2.75vmin;
	text-align: center;
	background-color: var(--default-button-color);
	transition: 0.2s;
	user-select: none;
	cursor: pointer;
}

.act-button:hover {
	background-color: var(--default-button-color-lighter);
	transition: 0.2s;
}

.act-button:active {
	background-color: var(--default-button-color-darker);
	transition: 0.2s;
}

.input-url {
	height: 6vmin;
	width: 40vw;
	border: none;
	border-radius: 0.6vmin;
	padding-left: 1.5vmin;
	padding-right: 1.5vmin;
	margin-left: 1vmin;
	margin-right: 1vmin;
	font-size: 2.75vmin;
	font-weight: bold;
	font-family: "Cantarell";
	color: var(--darker-text-color);
	background-color: var(--light-text-color);
	user-select: none;
}

.bottom-container {
	display: flex;
	margin-bottom: 10vmin;
	margin-top: auto; 
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.ord-container {
	display: flex;
	margin-bottom: 4.25vmin;
	justify-content: center;
	align-items: center;
}

.txt {
	margin: auto 2vmin auto 2vmin;
	color: var(--text);
	font-size: 3vmin;
	font-weight: bold;
	font-family: "Cantarell";
	user-select: none;
}

.ext-select {
	width: 15vmin;
	height: 6vmin;
	min-width: fit-content;
	padding-left: 1.5vmin;
	padding-right: 1.5vmin;
	border: none;
	border-radius: 0.625vmin;
	font-size: 2.75vmin;
	font-weight: bold;
	font-family: Cantarell;
	color: var(--darker-text-color);
	background-color: var(--light-text-color);
	user-select: none;
}

.ext-select>option {
	height: 5vmin;
	font-weight: bold;
	font-family: "Cantarell";
	color: var(--darker-text-color);
	user-select: none;
}

.ord-select {
	width: 15vmin;
	height: 6vmin;
	min-width: fit-content;
	margin-right: 2vmin;
	padding-left: 1.5vmin;
	padding-right: 1.5vmin;
	border: none;
	border-radius: 0.625vmin;
	font-size: 2.75vmin;
	font-weight: bold;
	font-family: "Cantarell";
	color: var(--darker-text-color);
	background-color: var(--light-text-color);
	user-select: none;
}

.ord-select>option {
	height: 5vmin;
	font-weight: bold;
	font-family: "Cantarell";
	color: var(--darker-text-color);
	user-select: none;
}

.loc-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-location {
	height: 6vmin;
	width: 45vw;
	border: none;
	border-radius: 0.6vmin;
	padding-left: 1.5vmin;
	padding-right: 1.5vmin;
	margin-right: 1vmin;
	font-size: 2.75vmin;
	font-weight: bold;
	font-family: "Cantarell";
	color: var(--darker-text-color);
	background-color: var(--light-text-color);
	user-select: none;
}

.draggable {
	-webkit-app-region: drag;
}

.non-draggable {
	-webkit-app-region: no-drag;
}

#titleBarContainer {
	position: absolute;
	top: env(titlebar-area-y, 0);
	height: env(titlebar-area-height, var(--fallback-title-bar-height));
	width: 100%;
	background-color: var(--header-color);
}

#titleBar {
	position: absolute;
	top: 0;
	display: flex;
	user-select: none;
	height: 100%;
	left: env(titlebar-area-x, 0);
	width: 100%;
	color: var(--header-text);
	font-weight: bold;
	text-align: center;
}

#titleBar .header {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	align-self: center;
	padding: 0px 16px 0px 16px;
	font-family: "Cantarell";
}

.about-button {
	margin: auto 10px;
	height: 30px;
	width: 30px;
	color: var(--light-text-color);
	background-color: var(--background-color);
	font-size: small;
}

.about-button:hover {
	background-color: var(--background-color-lighter);
	transition: 0.2s;
}

.about-button:active {
	background-color: var(--background-color-darker);
	transition: 0.2s;
}