@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  --fallback-title-bar-height: 40px;
  background-color: black;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meta-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5% 15% 0px 15%;
}

.txt-container {
  display: flex;
  flex-direction: column;
}

.txt-container > * {
  margin-top: 20px;
}

.input-container>* {
  margin-top: 20px;
}

.args-container {
  display: flex;
  margin-right: 15px;
  min-width: fit-content;
}

.args-container > .txt {
  margin-right: 0%;
}

.button-container {
  align-self: baseline;
  padding-top: 35px;
  padding-right: 15%;
  padding-left: 15%;
  display: flex;
  width: 100vw;
  justify-content: end;
}

.art {
  height: 256px;
  width: 256px;
  margin-top: 100px;
  background-color: var(--darker-text-color);
  object-fit: cover;
  user-select: none;
}

.art-button {
  height: 256px;
  width: 256px;
  position: absolute;
  top: 100px;
  border: none;
  background-color: #00000000;
  object-fit: cover;
  user-select: none;
  cursor: pointer;
  transition: 0.2s;
}

.art-button:hover {
  background-color: #ffffff0c;
  transition: 0.2s;
}

.art-button:active {
  background-color: #0000001c;
  transition: 0.2s;
}

.art-button-container {
  display: none;
  width: 256px;
  margin-top: 5px;
  justify-content: center;
  transition: 0.2s;
}

.art-buttons {
  min-height: 30px;
  height: fit-content;
  width: 50%;
  margin: 0% 1% 0% 1%;
  border: none;
  border-radius: 0.625vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: var(--light-text-color);
  background-color: var(--default-button-color);
  transition: 0.2s;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.art-buttons:hover {
  background-color: var(--default-button-color-lighter);
  transition: 0.2s;
}

.art-buttons:active {
  background-color: var(--default-button-color-darker);
  transition: 0.2s;
}

.txt {
  margin-right: 15px;
  color: var(--text);
  font-size: larger;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}

.input {
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  border: none;
  border-radius: 0.625vh;
  width: 100%;
  height: 26px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--darker-text-color);
  background-color: var(--light-text-color);
  user-select: none;
}

.act-button {
  margin-left: 5px;
  width: 40px;
  height: 30px;
  border: none;
  border-radius: 0.625vh;
  color: var(--background-color);
  text-align: center;
  user-select: none;
}

.dec-button {
  font-size: medium;
  background-color: var(--decline-button-color);
  cursor: pointer;
  transition: 0.2s;
}

.dec-button:hover {
  background-color: var(--decline-button-color-lighter);
  box-shadow: 0 0 10px 10px var(--decline-button-color-glow-hover);
  transition: 0.2s;
}

.dec-button:active {
  background-color: var(--decline-button-color-darker);
  box-shadow: 0 0 5px 5px var(--decline-button-color-glow-active);
  transition: 0.2s;
}

.acc-button {
  background-color: var(--accept-button-color);
  cursor: pointer;
  transition: 0.2s;
}

.acc-button:hover {
  background-color: var(--accept-button-color-lighter);
  box-shadow: 0 0 10px 10px var(--accept-button-color-glow-hover);
  transition: 0.2s;
}

.acc-button:active {
  background-color: var(--accept-button-color-darker);
  box-shadow: 0 0 5px 5px var(--accept-button-color-glow-active);
  transition: 0.2s;
}

.rel-button {
  font-size: medium;
  background-color: var(--reload-button-color);
  cursor: pointer;
  transition: 0.2s;
}

.rel-button:hover {
  background-color: var(--reload-button-color-lighter);
  box-shadow: 0 0 10px 10px var(--reload-button-color-glow-hover);
  transition: 0.2s;
}

.rel-button:active {
  background-color: var(--reload-button-color-darker);
  box-shadow: 0 0 5px 5px var(--reload-button-color-glow-active);
  transition: 0.2s;
}

.draggable {
  -webkit-app-region: drag;
}

.non-draggable {
  -webkit-app-region: no-drag;
}

#titleBarContainer {
  position: absolute;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
  width: 100%;
  background-color: var(--header-color);
}

#titleBar {
  position: absolute;
  top: 0;
  display: flex;
  user-select: none;
  height: 100%;
  left: env(titlebar-area-x, 0);
  width: 100%;
  color: var(--header-text);
  font-weight: bold;
  text-align: center;
}

#titleBar>span {
  margin: auto;
  padding: 0px 16px 0px 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}