@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "../styles/current.css";

:root {
  --fallback-title-bar-height: 40px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
}

* {
  box-sizing: border-box;
}

.main-container {
  position: absolute;
  top: env(titlebar-area-height, var(--fallback-title-bar-height));
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: calc(100% - env(titlebar-area-height, var(--fallback-title-bar-height)));
}

.input-container {
  display: flex;
  margin: auto 10% auto 10%;
  width: 100%;
}

.txt {
  margin-top: auto;
  margin-bottom: auto;
  min-width: fit-content;
  color: var(--text);
  font-size: large;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}

.url-input {
  margin: auto 0% auto 5%;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--darker-text-color);
  background-color: var(--light-text-color);
  user-select: none;
}

.act-button {
  margin-left: 5px;
  width: 45px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: var(--background-color);
  text-align: center;
  user-select: none;
}

.acc-button {
  background-color: var(--accept-button-color);
  cursor: pointer;
  transition: 0.2s;
}

.acc-button:hover {
  background-color: var(--accept-button-color-lighter);
  box-shadow: 0 0 10px 10px var(--accept-button-color-glow-hover);
  transition: 0.2s;
}

.acc-button:active {
  background-color: var(--accept-button-color-darker);
  box-shadow: 0 0 5px 5px var(--accept-button-color-glow-active);
  transition: 0.2s;
}

.draggable {
  -webkit-app-region: drag;
}

.non-draggable {
  -webkit-app-region: no-drag;
}

#titleBarContainer {
  position: absolute;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
  width: 100%;
  background-color: var(--header-color);
}

#titleBar {
  position: absolute;
  top: 0;
  display: flex;
  user-select: none;
  height: 100%;
  left: env(titlebar-area-x, 0);
  width: 100%;
  color: var(--header-text);
  font-weight: bold;
  text-align: center;
}

#titleBar>span {
  margin: auto;
  padding: 0px 16px 0px 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}